<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="org.me.smartphone">
         
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" /> 
    <application>
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".Meditnance" android:label="Meditnance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name="PlanningActivity"></activity>
        <activity android:name="ClientActivity"></activity>
        <activity android:name="InterventionActivity"></activity>
        <activity android:name="PieceActivity"></activity>
        <activity android:name="MapRouteActivity"></activity>
        <activity android:name="InterventionDetailedActivity"></activity>
        <activity android:name="ListFurnitureActivity"></activity>
        
    </application>
</manifest>